form{
}
#Hangmoi{
	float: left;
	width: 120px;
}
input[type=text]{
	margin-top: 19px;
	width: 500px;
	height: 50px;
	line-height: 25px;
	/*background: url(logo/input_bg.jpg) repeat-x top left;*/
	font-family: "arial", tahoma, sans-serif;
	font-size: 11px;
	color: #999;
	border :1px solid #cfcdc5;
	border-radius: 5px;
	text-indent: 7px;
}
input[type=text]:focus{
	color: #231f20;
}
textarea{
	width: 300px;
	
}